@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", serif;
}
body {
  text-align: center;
  padding: 20px;
  background-color: #0d1117;
  color: #f0e68c;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: #1c1f26;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
}

.pagination {
  margin-top: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  background: #f0e68c;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background: #555;
  cursor: not-allowed;
}

.ayah {
  font-size: 24px;
  line-height: 2;
  display: block;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.ayah-number {
  color: #ffd700;
  font-weight: bold;
  margin-left: 5px;
}

.surah-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffcc00;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.bismillah {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffcc00;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.page-input {
  margin-top: 15px;
}

h1 {
  font-size: 50px;
}

button:disabled {
  display: none;
}

/* Make the table responsive */
table {
  width: 100%;
  /* border-collapse: collapse; */
}

/* Ensure table content wraps properly */
td,
th {
  padding: 8px;
  text-align: center;
  border-left: #ffcc00 solid 1.5px;
  border-right: #ffcc00 solid 1.5px;
  background-color: #ffcc0077;

  font-size: 16px; /* Default font size */
}

/* Responsive adjustments for small screens */
@media screen and (max-width: 768px) {
  table {
    font-size: 14px; /* Reduce font size */
  }

  td,
  th {
    padding: 5px; /* Reduce padding */
  }

  /* Allow table to scroll if needed */
}

span {
  font-weight: bolder;
  color: #f0e68c;
}

#page-content {
  direction: rtl;
}

.ruku-marker {
  color: #ffffff;
  font-weight: 900px;
  font-size: 30px;
}
